body {
  font-family: "helvetica neue",arial,sans-serif;
  font-size: 10px;
  color: #211922;
  background-color: #efefef; }
p {
  margin: 0 0 .8em;
  line-height: 1.35em; }
a {
  font-weight: bold;
  color: #221919;
  text-decoration: none;
  outline: none; }

.wrapper {
  width: auto;
  margin: 0 auto 10px;
  border: none; }

.column {
  float: left;
  width: 100%; }
  .site {
    float: left;
    clear: right;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 1px;
    font-size: 11px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4);
    -moz-box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
    -webkit-box-shadow: 0 1px 3px rgba(34, 25, 25, 0.4); }
    .screenshot {
      position: relative; }
      .screenshot .link {
        position: relative;
        display: block; }
      .screenshot .link img {
        display: block;
        margin: 0 auto;
        opacity: .5;
        -webkit-opacity: .5;
        -moz-opacity: .5;
        transition: opacity 0.1s;
        -webkit-transition: opacity 0.1s;
        -moz-transition: opacity 0.1s; }
      .screenshot .link:hover img,
      .screenshot .link:active img {
        opacity: 1;
        -webkit-opacity: 1;
        -moz-opacity: 1; }
      .screenshot .image {
        width: auto;
        height: 205px;
        overflow: hidden;
        background-color: #F2F0F0; }
    .description {
      margin: 10px 0 5px;
      height: 14px;
      overflow: hidden;
      word-wrap: break-word; }
    .stats {
      overflow: hidden;
      color: #8C7E7E; }
